<div class="card">
    <div class="card__body"> 
      <div class="card_left">
        <%= link_to "#{plays.title}@#{plays.place}", play_path(plays.id), class: :card__title%>
        <%= link_to plays.user.nickname, root_path, class: :card__user %>
        <%= l plays.published_at, format: :short %>
        <%= plays.ground_style.name %>
        <%= plays.area.name %>
        <p class="card__summary">
          <%= plays.detail %>
        </p>
        <%= l plays.created_at, format: :short %>
        <%#= image_tag plays.image, class:"index-image" %>
      </div>
      <%#登録されたマップの表示%>
      <div class="card_map">
        <div id="map"></div>
        <script type="text/javascript">
          function initMap() {
        //#latitude,longitudeから位置を特定
            var test = { lat: <%= plays.latitude %>, lng: <%= plays.longitude %> };
            var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 14, 
                      center: test
                      });
            var transitLayer = new google.maps.TransitLayer();
            transitLayer.setMap(map);

            var contentString = '<%= plays.place %>';
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });

         //#Map上の指定した位置にピンを挿して表示する
            var marker = new google.maps.Marker({
                          position:test,
                          map: map,
                          title: contentString
                         });

            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
          }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%=ENV['GOOGLEMAP_API_KEY']%>&callback=initMap"></script>    
      </div>
      <%#//上記登録されたマップの表示%>
    </div>
</div>