<div class="card">
  <div class="card__body"> 
    <%= link_to "#{plays.title}@#{plays.place}", play_path(plays.id), class: :card__title%>
    <%= link_to plays.user.nickname, user_path(plays.user), class: :card__user %>
    <%= "エリア：#{plays.area.name}" %><br/>
    <%="開催日時："%><%= l plays.published_at, format: :short %><%="~"%><br/>
    <%= "グラウンド：#{plays.ground_style.name}" %><br/>
    <p class="card__summary">
      <%= "コメント：#{plays.detail}" %>
    </p>
    <p class="card__time">  
      <%="from "%><%= l plays.created_at, format: :short%>
    </p>
    <div class="card__image">
      <% if plays.image.present?%>
        <%= image_tag plays.image %>
      <% end %>
    </div>
  </div>
</div>