<h1>開催プレー一覧</h1>
<div class="card">
  <% @plays.each do |play| %>
    <div class="card__body">
      <%= link_to "#{play.title}@#{play.place}", root_path, class: :card__title%>
      <%= link_to play.user.nickname, root_path, class: :card__user %>
      <%= l play.published_at, format: :short %>
      <%= play.ground_style.name %>
      <p class="card__summary">
        <%= play.detail %>
      </p>
      <%= l play.created_at, format: :short %>
      <div id="map"></div>
      <style type="text/css">
        #map { height: 150px;
               width: 150px; }
      </style>
      <script type="text/javascript">
        function initMap() {
      //#latitude,longitudeから位置を特定
          var test ={lat: "<%=play.latitude%>", lng: "<%=play.longitude%>" };
          var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15, 
                    center: test
                    });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= play.place %>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });

       //#Map上の指定した位置にピンを挿して表示する
          var marker = new google.maps.Marker({
                        position:test,
                        map: map,
                        title: contentString
                       });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBJFru03FJZIcE67jhsD1qGaXYjCB9mpfQ&callback=initMap"></script>    
    </div>
  <% end %>
</div>