<div class="main">
  <div class="user__wrapper">
    <%= render 'shared/sidebar' %>
    <div class="user-main">
      <img src=<%= @user.image %> class = "icon_image" alt="※プロフィール画像を設定しませんか？">
      <h2 class="page-heading">
        <%= @user.nickname%>
      </h2>
      <% if current_user.id == @user.id %>
        <div class="play__manage">
          <%= link_to "編集する", edit_user_registration_path(@user.id), class: :play__btn %>
          <%= link_to "削除する", user_registration_path, method: :delete, class: :play__btn %>
        </div>
      <% end %>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
          <tr>
            <th class="table__col1">ポジション</th>
            <td class="table__col2"><%= @user.position.name %></td>
          </tr>
          <tr>
          <th class="table__col1">プレースタイル</th>
            <td class="table__col2"><%= @user.play_style.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プレー歴</th>
            <td class="table__col2"><%= @user.play_experience.name %></td>
          </tr>
          <tr>
            <th class="table__col1">プレーエリア</th>
            <td class="table__col2"><%= @user.main_play_area.name %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "プレー情報"%>
      </h2>
      <div class="card__lists">
        <%= render partial: "shared/plays", collection: @plays %>
      </div>
    </div>
  </div>
</div>